* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f1f5f9;
}

a {
  color: inherit;
  text-decoration: none;
}

.avatar {
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  span {
    position: unset !important;
  }
  img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

button {
  cursor: pointer;
}
