.dashboard-layout {
  .dashboard-header {
    border-bottom: 1px solid #e2e8f0;
    background-color: #fff;

    .container {
      display: flex;
      align-items: center;
      height: 3.5rem;
      gap: 1rem;
    }

    .logo {
      font-weight: 700;
      font-size: 1.125rem;
    }

    .main-menu {
      flex: 1;
      .menu-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        gap: 1rem;
        margin: 0;
        padding: 0;

        .menu-item {
          color: #475569;

          &:hover {
            color: #1e293b;
          }
        }
      }
    }

    .thumb-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      width: 2rem;
      height: 2rem;
    }
  }
}
